---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// make sure this route is static even if SSR is enabled
export const prerender = true;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hi!</h1>
			<p>
				This demo is based on the official <a href="https://astro.build/">Astro</a> blog starter template.
				This is to demonstrate and test the search index functionality.
				None of the words in this home page are indexed, though.
			</p>
			<p>
				Here are some sample searches to get you going:
			</p>
			<ul>
				<li><a href="search?query=dictum">dictum</a></li>
				<li><a href="search?query=mdx">mdx</a></li>
				<li><a href="search?query=mdx+astro">mdx astro</a></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
