---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const requestUrl = new URL(Astro.request.url);
const query = requestUrl.searchParams.get("query");
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/search.json">search.json</HeaderLink>
		<HeaderLink href="/docs.json">docs.json</HeaderLink>

		<form action="/search" method="get">
			<input type="search" name="query" value={query}>
		</form>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}

	header nav {
		display: flex;
	}

	header form {
		margin-left: auto;
	}
</style>
